.input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-container > p {
  font-size: 15px;
  left: 6px;
  margin-bottom: 6px;
  position: relative;
}

.input-container > input {
  border: none;
  border-radius: 8px;
  font-size: 15px;
  outline-color: transparent;
  padding: 14px 16px;
}

.input-container > input:focus {
  outline-color: #6ac730;
  transition: 300ms;
}

.input-container > input::placeholder {
  opacity: 0.5;
  font-weight: 300;
}
