nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
}

nav > img {
    height: 35px;
    width: 35px;
}

nav > h1 {
    margin-right: 60px;
    margin-left: 10px;
}

nav > ul {
    display: flex;
}

nav > ul > li {
    list-style: none;
    padding: 0 20px;
    text-align: center;
}

nav > ul > li:nth-child(1) {
    padding: 0;
    padding-right: 20px;
}