.main-navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}

.main-navbar__logo {
  height: 35px;
  width: 35px;
}

.main-navbar__company-name {
  margin-right: 60px;
  margin-left: 10px;
}

.main-navbar__buttons-group {
  display: flex;
}

.main-navbar__buttons-group > li {
  list-style: none;
  padding: 0 20px;
  text-align: center;
}

.main-navbar__buttons-group > li:nth-child(1) {
  padding: 0;
  padding-right: 20px;
}

@media only screen and (max-width: 768px) {
  .main-navbar__buttons-group {
    display: none;
  }
}
